.slider-container {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    overflow-x: hidden;
    border: 1px solid red;
}

.slider {
    align-items: center;
    height: 700px;
    display: flex;
    cursor: grab;
}

.item {
    padding: 2rem;
    box-sizing: border-box;
}

.item img {
    align-items: center;
    justify-content: center;
    height: 600px;
    width: auto;
    object-fit: cover;
    pointer-events: none;

}