.Toolbar-nombre2 {
    width: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Arial Narrow';
    font-style: italic;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}